:root {
	--primary-base: limegreen;
	--primary-text: white;
	--disable-base: lightgrey;
	--disable-text: #b2b2b2;

	--font-body: "Pixelify Sans", serif;
	--font-size-body: 14px;
	--color-text: rgba(0, 0, 0, 0.7);

	font-size: var(--font-size-body);
	font-family: var(--font-body);
	color: var(--color-text);
}

h1 {
	margin: 0;
	font-size: 5rem;
	font-weight: 700;
}

html,
body {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	max-height: 100%;
}

main {
	display: flex;
	padding: 24px 12px;
	flex-direction: column;
	gap: 24px 0;
}

.crafting {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: max-content;
	width: 100%;
}

.crafting-table {
	display: grid;
	padding: 12px;
	justify-items: stretch;
	align-items: stretch;
	grid-template-columns: repeat(3, 15vh);
	grid-template-rows: repeat(3, 15vh);
	width: 100%;
	gap: 12px;
	width: max-content;
	background-color: var(--disable-base);
}

.crafting-arrow {
	display: flex;
	justify-content: center;
	align-items: center;
}

.crafting-arrow .mdi-arrow-right-bold-outline {
	font-size: 10rem;
}

.crafting-square {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 12px;
	background-color: var(--disable-base);
	width: 10vh;
	height: 10vh;
}

.inventory {
	display: flex;
	flex-direction: column;
	padding: 12px;
}

.inventory-table {
	display: grid;
	grid-template-columns: repeat(14, 5vw);
	grid-template-rows: repeat(2, 5vw);
	gap: 24px;
}

.active {
	border: 4px solid red;
}

button {
	border-radius: 0;
	border: none;
	box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	background-color: var(--disable-text);
}

button:focus-within,
button:hover {
	outline: 4px solid var(--disable-text);
	background-color: var(--disable-base);
}

.limegreen {
	background-color: limegreen;
}
